@font-face {
    font-family: "Open Sans";
    src: url("OpenSans-VariableFont_wdth,wght.ttf");
    font-weight: 100 900;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

a:any-link {
    text-decoration: none;
    color: black;
}

button,
input,
textarea,
h1,
h2,
h3,
h4,
p,
a,
li {
    font-family: "Open Sans", sans-serif;
}

.page {
    background: white;
}



.logo {
    font-weight: 600;
    font-size: 30px;
    align-items: center;
}

.logo-img {
    max-width: 100px;
    height: auto;
    object-fit: contain;
}

img {
    max-width: 100%;
    display: block;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #FFFFFF, #F6FAF7);
    border-bottom: 1px solid #E5E7EB;
}

.page-header__upper-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    margin: 0 auto;
    padding: 0 60px;
    padding-top: 0;
    padding-bottom: 0;
    background: transparent;
    color: #111827;

}

.contents {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-left: auto;
    padding: 0;
    font-size: 17px;

}

.contents__content {}

.contents__content__link {
    color: #1F3B2E;
    font-weight: 500;
}

.contents__content__link:hover {
    color: #4F8A6B;
    text-decoration: underline;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 60px;
    padding: 120px 60px 120px;
    margin: auto;
    min-height: 90px;
    background: linear-gradient(to right, #FFFFFF, #F6FAF7);

}

.hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 16px;
    line-height: 1.6;
    font-size: 18px;
}

.hero__first-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
    width: 100%;
    max-width: 650px;
    flex: 1;

}

.hero-logo {
    display: flex;
    background-color: transparent;
    flex: 1;
    justify-content: center;
    align-items: center;
}

lottie-player {
    background: transparent;
    height: 300px;
    width: 300px;
}

.see-work {
    padding: 120px 60px;
    background: #fff;
    overflow: hidden;
}

.see-work h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #006aff;
    height: 30px;
    display: inline-block;
    cursor: pointer;
}

.see-work h2:hover {
    color: blue;
    text-decoration: underline;
}

.work-grid {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.work-card {
    flex: 0 0 180px;
    height: 180px;
}

.work-card img {
    width: auto;
    height: 80%;
    object-fit: contain;
    display: block;
    border-radius: 10px;
    padding: 12px;
    box-sizing: border-box;
}

.work-card:hover {
    transform: translateY(-6px);
}

.kone-case {}

.kone-case h1 {
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 30px;
    line-height: 1.3;
}

.kone-case h2 {
    font-size: bold;
    font-weight: 500;
}

.kone-page {
    background: #F8F8F8;
    color: #111827;
    font-family: sans-serif;
}

.kone-page p {
    font-size: large;
}

.kone-case,
.testimonies,
.about,
.details,
.optimized,
.Content,
.scaling {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 60px;
}

.kone-case-img,
.guestbook-case-img,
.arkken-case-img,
.storylake-case-img,
.krusti-case-img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 16px;
}

.testimony {
    background: -o-linear-gradient();
    padding: 25px;
    border-radius: 20px;
}

.testimony i {
    font-size: 20px;
    line-height: 1.2;
    display: block;
    color: #1F2937;
}

.kone-delivery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 80px;
    border-radius: 20px;
    padding: 10px;
    background-color: #F0F2E8;
}

.we-delivered h3 {
    font-size: 24px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 28px;
    padding-left: 10px;
}

.we-delivered {
    flex: 2;
    -webkit-font-smoothing: antialiased;
    padding-left: 20px;
    box-sizing: border-box;
}

.we-delivered ul {
    padding-left: 20px;
    margin: 0;
}

.we-delivered li {
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 1.6;
    color: #374151;
    padding-left: 10px;
}


.deliver-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.challenge,
.solution,
.result {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.challenge p,
.solution p,
.result p {
    line-height: 1.8;
    font-size: 18px;
    color: #374151;
}

.challenge h2,
.solution h2,
.result h2 {
    margin-bottom: 25px;
    line-height: 1.3;
}

.guestbook-page {
    background: #F8F8F8;
    color: #111827;
    font-family: sans-serif;
}

.guestbook-page p {
    font-size: large;
}

.guestbook-case h1 {
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 30px;
    line-height: 1.3;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.guestbook-case h2 {
    font-size: bold;
    font-weight: 500;
}

.guestbook-case,
.testimonies,
.about,
.details,
.optimized,
.Content,
.scaling {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 60px;
}

.guestbook-delivery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 80px;
    border-radius: 20px;
    padding: 10px;
    background-color: #e2e2e2;
}

.arkken-page {
    background: #F8F8F8;
    color: #111827;
    font-family: sans-serif;
}

.arkken-page p {
    font-size: large;
}

.arkken-case h1 {
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 30px;
    line-height: 1.3;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.arkken-case h2 {
    font-size: bold;
    font-weight: 500;
}

.arkken-case,
.testimonies,
.about,
.details,
.optimized,
.Content,
.scaling {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 60px;
}

.arkken-delivery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 80px;
    border-radius: 20px;
    padding: 10px;
    background-color: #F6EEE9;
}


.storylake-page {
    background: #F8F8F8;
    color: #111827;
    font-family: sans-serif;
}

.storylake-page p {
    font-size: large;
}

.storylake-case h1 {
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 30px;
    line-height: 1.3;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.storylake-case h2 {
    font-size: bold;
    font-weight: 500;
}

.storylake-case,
.testimonies,
.about,
.details,
.optimized,
.Content,
.scaling {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 60px;
}

.storylake-delivery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 80px;
    border-radius: 20px;
    padding: 10px;
    background-color: #FDFEF0;
}

.krusti-page {
    background: #F8F8F8;
    color: #111827;
    font-family: sans-serif;
}

.krusti-page p {
    font-size: large;
}

.krusti-case h1 {
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 30px;
    line-height: 1.3;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.krusti-case h2 {
    font-size: bold;
    font-weight: 500;
}

.krusti-case,
.testimonies,
.about,
.details,
.optimized,
.Content,
.scaling {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 60px;
}

.krusti-delivery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 80px;
    border-radius: 20px;
    padding: 10px;
    background-color: #A3B0C2;
}

.kone-img {
    width: 100px;
    height: auto;

}

.taxstar-img {
    width: 100px;
    height: auto;

}

.guestbook-img {
    width: auto;
    height: 70px;

}

.arkken-img {
    width: 100px;
    height: auto;
}

.alpha-img {
    width: 120px;
    height: auto;
}

.harmonya-img {
    width: 120px;
    height: auto;
}

.clients {
    padding: 80px 0;
    background: #FFFFFF;
    border-top: 1px solid #F0F2F3;
    overflow: hidden;
}

.client-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.client-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    text-decoration: none;
    color: white;
    background: white;
}

.client-card:hover {
    text-decoration: underline;
}

.client-card:hover img {
    transform: scale(1.03);
}

.client-text h3 {
    font-size: 30px;
    font-weight: 400;
    width: 80%;
    line-height: 1.4;
}

.clients h2 {
    text-align: left;
    margin-bottom: 40px;
    padding: 25px 0;
    padding-left: 40px;
    font-size: 2rem;
    font-weight: 600;
    color: #1F3B2E;
    position: relative;
    transform: rotate(0);

}

.client-logo img {
    width: 100%;
    height: auto;
}

h3 {
    font-weight: 500;
}

.kone-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #D9E8DE;

}

.kone-text {
    width: 100%;
    text-align: left;
    color: #1F3B2E;
    font-weight: 300;

}

.kone-logo {
    height: 100px;
    width: auto;
    display: flex;
    flex-direction: row;

}

.guest-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #D9E8DE;


}

.guest-text {
    width: 65%;
    text-align: left;
    color: #1F3B2E;
    font-weight: 300;
}

.guest-logo {
    height: 150px;
    width: auto;
    display: flex;
    flex-direction: row;

}

.arkken-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #D9E8DE;


}

.arkken-text {
    width: 65%;
    text-align: left;
    color: #1F3B2E;
    font-weight: 300;
}

.arkken-logo {
    height: 50px;
    width: auto;
    display: flex;
    flex-direction: row;


}

.story-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #D9E8DE;


}

.storylake-text {
    width: 65%;
    text-align: left;
    color: #1F3B2E;
    font-weight: 300;
}

.storylake-logo {
    height: 150px;
    width: auto;
    display: flex;
    flex-direction: row;


}

.krusti-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #D9E8DE;


}

.krusti-text {
    width: 65%;
    text-align: left;
    color: #1F3B2E;
    font-weight: 300;
}

.krusti-logo {
    height: 150px;
    width: auto;
    display: flex;
    flex-direction: row;


}

.services {
    padding: 80px 60px;
    background-color: #F8FAF8;
    color: #111827;
    text-align: left;

}

.our-services {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.our-services h2 {
    font-weight: 600;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: stretch;
}

.service-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: white;
    border: 1px solid #E5E7EB;
    padding: 18px;
    min-height: 220px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.service-card ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    text-align: left;
}

.service-card li {
    margin-bottom: 8px;
    color: #374151;
    font-size: 14px;
    line-height: 1.4;
}

.service-card li::before {
    content: "→";
    margin-right: 8px;
    color: #1F7A53;
}

.service-card.active {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
    background: #EAF5EE;
    border: 1px solid #1f7a53;
}

.service-card:hover {
    transform: translateY(-12px);
}

.contact {
    padding: 60px;
    text-align: center;
    background: #F8FCF9;
    border: 1px solid #D9E8DE;
    color: black;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.contact-left {
    flex: 2;
}

.contact-right {
    flex: 1;
    text-align: left;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 18px;
    margin-top: 20px;
}

.social-links a {
    color: #1F3B2E;
    font-size: 34px;
    text-decoration: none;
    transition: 0.3s;
}

.social-links a:hover {
    text-decoration: underline;
}

.linkedin a:hover {
    color: #0A66C2;
}

.instagram i:hover {
    background: linear-gradient(45deg, #ffd600, #ff7a00, #ff0069, #d300c5, #7638fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instagram a:hover {
    background: none;
}

.facebook a:hover {
    color: rgb(24, 119, 242);
}

.youtube a:hover {
    color: #ff0051;
}

.contact-form {
    max-width: 500px;
    margin: auto;
    text-align: left;
    color: gray;
}

.input-group {
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    outline: none;
    background: white;
    color: black;
    font-size: 16px;
    transition: 0.3s;
    resize: none;
    outline: none;
}

input:focus,
textarea:focus {
    border: 1px solid #2FBF71;
    background: #F0FAF4;
    outline: none;
    box-shadow: 0 0 0 3px rgba(47, 191, 113, 0.2);
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
    color: black;
}

.checkbox-group input {
    width: auto;
    transform: scale(1.5);
    background-color: transparent;
    accent-color: #2fbf71;

}

.checkbox-group input:focus {
    box-shadow: none;

}

a.terms-text {
    text-decoration: underline;
    cursor: pointer;
    color: dodgerblue;
    font-weight: 500;
}

.terms-text:hover {
    color: blue;

}


.terms-section {
    max-width: 600px;
    background: white;
    padding: 40px;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.terms-section h2 {
    margin-bottom: 20px;
}

.terms-section ul {
    padding-left: 20px;
}

.terms-section li {
    margin-bottom: 10px;
    color: #374151;
}

.terms-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #F8FAF8;
    padding: 40px;
}

a.back-link {
    position: absolute;
    top: 20px;
    left: 40px;
    color: dodgerblue;
    text-decoration: none;
    font-weight: 500;
    font-size: larger;
}

.back-link:hover {
    color: blue;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    background: #1F7A53;
    color: white;
    font-family: "Open Sans";
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #16603F;
}


.page-footer {
    background: #F6FAF7;
    color: #4B5563;
    padding: 25px 0;
    text-align: center;
    border-top: 1px solid #E5E7EB;
}

.page-footer__first-row {
    margin: 0;
    margin-top: auto;

}

.page-footer__second-row {
    align-items: center;
}

.page-footer__second-row p {
    color: gray;
    font-size: 15px;
}

@media (max-width: 768px) {

    .page-header__upper-row {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px;
        gap: 15px;
    }

    .logo {
        font-weight: bold;
    }

    .contents {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 18px;
        margin: 0;
        font-size: 15px;
    }


    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .hero h1 {
        font-size: 38px;
        line-height: 1.3;
    }

    .hero p {
        font-size: 16px;
    }

    .hero__first-row {
        align-items: center;
    }

    .see-work h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .services-grid {
        grid-template-columns: 1fr;
    }

    .client-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .client-text,
    .client-logo {
        width: 100%;
    }

    .client-text h3 {
        font-size: 22px;
        width: 100%;
    }

    .client-logo {
        display: block;
    }

    .client-logo img {
        width: 100%;
        height: auto;
        display: block;
    }

    .service-card {
        min-height: auto;
    }

    .clients,
    .services,
    .contact {
        padding: 50px 20px;
    }

    .kone-logo,
    .guest-logo,
    .arkken-logo,
    .storylake-logo,
    .krusti-logo {
        height: auto;
        max-width: 180px;
    }

    .kone-box,
    .guest-box,
    .arkken-box,
    .story-box,
    .krusti-box {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .guest-text,
    .arkken-text,
    .storylake-text,
    .krusti-text,
    .kone-text {
        width: 100%;
    }

    .kone-case,
    .guestbook-case,
    .arkken-case,
    .storylake-case,
    .krusti-case {
        padding: 20px;
    }

    .contact-container {
        flex-direction: column;
        gap: 40px;
    }

    .contact-left,
    .contact-right {
        width: 100%;
    }

    .kone-delivery,
    .guestbook-delivery,
    .arkken-delivery,
    .storylake-delivery,
    .krusti-delivery {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }

    .work-grid {
        flex-wrap: wrap;
        justify-content: center;
    }

    .contact-right h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 18px;
        margin-top: 20px;
    }

    .social-links a {
        color: #1F3B2E;
        font-size: 34px;
        text-decoration: none;
        transition: 0.3s;
    }

    .terms-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .terms-section h2 {
        text-align: center;
    }

    .contact-form button {
        font-size: 20px;
    }

    .linkedin i {
        color: #0A66C2;
    }

    .instagram i {
        background: linear-gradient(45deg, #ffd600, #ff7a00, #ff0069, #d300c5, #7638fa);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .facebook i {
        color: rgb(24, 119, 242);
    }

    .youtube i {
        color: #ff0051;
    }

    lottie-player {
        width: 250px;
        height: 250px;
    }

}